<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JEUX INTERACTIFS</title>

    <link rel="stylesheet" type="text/css" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="styles/animate4.1.1.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />

</head>

<body>

    <audio id="soundCorrect"><source src="./assets/sounds/success_2.mp3" type="audio/mp3"></audio>
    <audio id="soundWrong"><source src="./assets/sounds/error_2.mp3" type="audio/mp3"></audio>

    <div id="app">

        <header>
            <div class="container">
                <img @click="MainMenu" src="./images/logo-maison-belisle.png" alt="Maison Belisle"/>
                <h1>{{GetTitle}}</h1>
            </div>
        </header>
        <main v-bind:class="capsule" v-bind:style="{ right: message.show ? '100vw' : '0px' }">
            <div v-if="capsule=='menu'">
                <div><a href="#" @click="capsule='seigneurie';game=1">LE RÉGIME SEIGNEURIAL</a></div>
                <div><a href="#" @click="capsule='voyageurs';game=1">LES VOYAGEURS</a></div>
                <div><a href="#" @click="capsule='moulins';game=1">LES MOULINS</a></div>
                <div><a href="#" @click="capsule='moderne';game=1">TERREBONNE MODERNE</a></div>
            </div>


            <div class="container seigneurie game1" v-if="capsule=='seigneurie' && game==1">
                <h2>Identifie les objets qui font partie du quotidien des habitants de la Nouvelle-France entre 1645 – 1763.</h2>
                <div class="objects">
                    <div v-for="item in games.seigneurie[0].objects" @click="CheckElementIsCorrect(item.name, $event)" v-bind:class="{guessed: item.guessed}">
                        <img v-bind:src="'./assets/seigneurie-1/' + item.name + '.jpg'">
                        <div class="title">{{item.title}}</div>
                        <svg class="checkmark" v-bind:class="{animate: item.guessed}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                    </div>
                </div>
            </div>


            <div class="seigneurie game2" v-if="capsule=='seigneurie' && game==2" >
                <div class="questions" v-bind:style="{width: games.seigneurie[1].objects.length * 100 + 'vw', left: games.seigneurie[1].question * -100 + 'vw'}">
                    <div v-for="item in games.seigneurie[1].objects" class="question">
                        <div class="container">
                            Question: {{item.q}}
                            <br>
                            <a href="#" @click="NextQuestion">Next -></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="seigneurie game3" v-if="capsule=='seigneurie' && game==3">
                <div class="questions" v-bind:style="{width: games.seigneurie[2].objects.length * 100 + 'vw', left: games.seigneurie[2].question * -100 + 'vw'}">
                    <div v-for="item in games.seigneurie[2].objects" class="question">
                        <div class="container">
                            Question: {{item.q}}
                            <br>
                            <a href="#" @click="NextQuestion('seigneur')">Seigneur</a>
                            <a href="#" @click="NextQuestion('censitaire')">Censitaire</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="voyageurs game1" v-show="capsule=='voyageurs' && game==1">
                <div class="connectLines">
                    <div class="linesContainer" >
                    </div>
                    <div class="from">
                        <div class="box noselect boxfrom" v-for="item in games.voyageurs[0].objects" :data-key="item.name" >{{item.title}}</div>
                    </div>
                    <div class="to">
                        <div class="box noselect boxto"  v-for="item in games.voyageurs[0].objects" :data-key="item.name" >{{item.title}}</div>
                    </div>
                </div>
            </div>


            <div class="voyageurs game2" v-show="capsule=='voyageurs' && game==2">
                <div class="questions" v-bind:style="{width: games.voyageurs[1].objects.length * 100 + 'vw', left: games.voyageurs[1].question * -100 + 'vw'}">
                    <div v-for="item in games.voyageurs[1].objects" class="question">
                        <div class="container">
                            Question: {{item.q}}
                            <br>
                            <div style="display:flex">
                                <a href="#" v-bind:style="{order: Math.round(Math.random()*100)}" @click="NextQuestion(item.r)">{{item.r}}</a>
                                <a href="#" v-bind:style="{order: Math.round(Math.random()*100)}" @click="NextQuestion(item.other[0])">{{item.other[0]}}</a>
                                <a href="#" v-bind:style="{order: Math.round(Math.random()*100)}" @click="NextQuestion(item.other[1])">{{item.other[1]}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container voyageurs game3" v-if="capsule=='voyageurs' && game==3">
                <h2>Identifie tous les emplois des hommes et des femmes de la Compagnie-du-Nord-Ouest.</h2>
                <div class="objects">
                    <div v-for="item in games.voyageurs[2].objects" @click="CheckElementIsCorrect(item.name, $event)" v-bind:class="{guessed: item.guessed}">
                        <div class="title">{{item.title}}</div>
                        <svg class="checkmark" v-bind:class="{animate: item.guessed}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                    </div>
                </div>
            </div>


            <div class="moulins game1" v-show="capsule=='moulins' && game==1">
                <div class="connectLines">
                    <div class="linesContainer" >
                    </div>
                    <div class="from">
                        <div class="box noselect boxfrom" v-for="item in games.moulins[0].objects" :data-key="item.name" >{{item.title}}</div>
                    </div>
                    <div class="to">
                        <div class="box noselect boxto"  v-for="item in games.moulins[0].objects" :data-key="item.name" >{{item.title}}</div>
                    </div>
                </div>
            </div>


            <div class="moulins game2" v-show="capsule=='moulins' && game==2">
                <div class="connectLines">
                    <div class="linesContainer" >
                    </div>
                    <div class="from">
                        <div class="box noselect boxfrom" v-for="item in games.moulins[1].objects" :data-key="item.name" >{{item.title}}</div>
                    </div>
                    <div class="to">
                        <div class="box noselect boxto"  v-for="item in games.moulins[1].objects" :data-key="item.name" >{{item.title}}</div>
                    </div>
                </div>
            </div>


            <div class="moulins game3" v-if="capsule=='moulins' && game==3">
                <div class="container">
                    <h2>Déterminez si les éléments appartiennent au régime seigneurial ou municipal.</h2>
                </div>
                <div class="questions" v-bind:style="{width: games.moulins[2].objects.length * 100 + 'vw', left: games.moulins[2].question * -100 + 'vw'}">

                    <div v-for="item in games.moulins[2].objects" class="question">
                        <div class="container">
                            {{item.q}}
                            <br>
                            <a href="#" @click="NextQuestion('régime municipal')">Régime municipal</a>
                            <a href="#" @click="NextQuestion('régime seigneurial')">Régime seigneurial</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container moderne game1" v-if="capsule=='moderne' && game==1">
                <h2>Identifie tous les bâtiments de Terrebonne qui ont été touchés par l’incendie de 1922 :</h2>
                <div class="objects">
                    <div v-for="item in games.moderne[0].objects" @click="CheckElementIsCorrect(item.name, $event)" v-bind:class="{guessed: item.guessed}">
                        <div class="title">{{item.title}}</div>
                        <svg class="checkmark" v-bind:class="{animate: item.guessed}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                    </div>
                </div>
            </div>



            <div class="moderne game2" v-show="capsule=='moderne' && game==2">
                <div class="connectLines">
                    <div class="linesContainer" >
                        <div id="test"></div>
                    </div>
                    <div class="from">
                        <div class="box noselect boxfrom" v-for="item in games.moderne[1].objects" :data-key="item.name" >{{item.year}}</div>
                    </div>
                    <div class="to">
                        <div class="box noselect boxto"  v-for="item in games.moderne[1].objects" :data-key="item.name" >{{item.year}} {{item.title}}</div>
                    </div>
                </div>
            </div>



            <div class="moderne game3" v-show="capsule=='moderne' && game==3">
                <div class="questions" v-bind:style="{width: games.moderne[2].objects.length * 100 + 'vw', left: games.moderne[2].question * -100 + 'vw'}">
                    <div v-for="item in games.moderne[2].objects" class="question">
                        <div class="container">
                            Question: {{item.q}}
                            <br>
                            <div style="display:flex">
                                <a href="#" v-bind:style="{order: Math.round(Math.random()*100)}" @click="NextQuestion(item.r)">{{item.r}} <</a>
                                <a href="#" v-bind:style="{order: Math.round(Math.random()*100)}" @click="NextQuestion(item.other[0])">{{item.other[0]}}</a>
                                <a href="#" v-bind:style="{order: Math.round(Math.random()*100)}" @click="NextQuestion(item.other[1])">{{item.other[1]}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>

        <div id="message"  v-bind:style="{ right: message.show ? '0vw' : '-100vw' }">
            <div class="container">
                <h1>{{message.title}}</h1>
                <a href="#" @click="NextJeux()">Next -></a>
            </div>
        </div>


    </div>

    <script src="./scripts/vue.min.js"></script>
    <script src="./scripts/connect-lines.js"></script>
    <script src="./scripts/main.js"></script>
</body>

</html>
