@font-face {
  font-family: Moderat;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Moderat-Regular.eot) format("eot"), url(fonts/Moderat-Regular.woff) format("woff"), url(fonts/Moderat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: Moderat;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Moderat-Bold.eot) format("eot"), url(fonts/Moderat-Bold.woff) format("woff"), url(fonts/Moderat-Bold.woff2) format("woff2");
}
@font-face {
  font-family: Moderat;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Moderat-Regular-Italic.eot) format("eot"), url(fonts/Moderat-Regular-Italic.woff) format("woff"), url(fonts/Moderat-Regular-Italic.woff2) format("woff2");
}
@font-face {
  font-family: 'Noe Display';
  font-style: normal;
  font-weight: 900;
  src: url(fonts/Noe-Display-Black.eot) format("eot"), url(fonts/Noe-Display-Black.woff) format("woff");
}
#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 99;
  -webkit-animation: 7s multicolor infinite reverse;
          animation: 7s multicolor infinite reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
#loading.hidden {
  -webkit-animation: fadeout 800ms linear forwards;
          animation: fadeout 800ms linear forwards;
}
@-webkit-keyframes multicolor {
  0% {
    background: #a5ea1b;
  }
  25% {
    background: #f8375b;
  }
  50% {
    background: #f2b120;
  }
  75% {
    background: #a3c4e7;
  }
  100% {
    background: #a5ea1b;
  }
}
@keyframes multicolor {
  0% {
    background: #a5ea1b;
  }
  25% {
    background: #f8375b;
  }
  50% {
    background: #f2b120;
  }
  75% {
    background: #a3c4e7;
  }
  100% {
    background: #a5ea1b;
  }
}
@-webkit-keyframes fadeout {
  99% {
    opacity: 0;
    z-index: inherit;
  }
  100% {
    opacity: 0;
    z-index: -999;
  }
}
@keyframes fadeout {
  99% {
    opacity: 0;
    z-index: inherit;
  }
  100% {
    opacity: 0;
    z-index: -999;
  }
}
#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
h1 {
  font-size: 3em;
  text-align: right;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  margin-bottom: 50px;
}
h2 > span {
  font-weight: bold;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}
body,
html {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
header {
  border: 6px solid #000000;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
}
header .container img {
  height: 100px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
header .container img.visible {
  opacity: 1;
}
header .container img:hover {
  cursor: pointer;
}
main {
  border: 6px solid #000000;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 1s right;
  transition: 1s right;
  right: 0vw;
  position: relative;
}
main.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main.menu > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.menu > div > * {
  text-align: center;
  font-size: 2em;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100vw - 15px);
  height: calc(25% - 4px);
  -webkit-transition: all .2s;
  transition: all .2s;
}
main.menu > div > *:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
main.menu > div > *:nth-of-type(1) {
  background: #a5ea1b;
}
main.menu > div > *:nth-of-type(2) {
  background: #f8375b;
}
main.menu > div > *:nth-of-type(3) {
  background: #f2b120;
}
main.menu > div > *:nth-of-type(4) {
  background: #a3c4e7;
}
main.seigneurie {
  background: #a5ea1b;
  padding: 20px 0;
}
main.seigneurie .game1 .objects {
  width: calc(100% - (40px * 4));
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
main.seigneurie .game1 .objects > div {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  border: 6px solid #000;
  position: relative;
}
main.seigneurie .game1 .objects > div .title {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 2em;
  text-align: center;
  text-shadow: 0px 0px 5px white;
  opacity: 0;
  -webkit-transition: .9s;
  transition: .9s;
}
main.seigneurie .game1 .objects > div:hover {
  cursor: pointer;
}
main.seigneurie .game1 .objects > div:hover .title {
  opacity: 1;
  -webkit-transition: .1s;
  transition: .1s;
}
main.seigneurie .game1 .objects > div .checkmark {
  position: absolute;
  top: 10%;
  left: 75px;
}
main.seigneurie .game1 .objects > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-drag: none;
}
main.seigneurie .game2 .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main.seigneurie .game2 .image {
  height: 400px;
  margin-bottom: 20px;
}
main.seigneurie .game2 .image img {
  -webkit-transition: -webkit-filter 5s;
  transition: -webkit-filter 5s;
  transition: filter 5s;
  transition: filter 5s, -webkit-filter 5s;
  height: 90%;
}
main.seigneurie .game2 .image .answer {
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}
main.seigneurie .game2 .image.blur img {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}
main.seigneurie .game2 .image.blur .answer {
  opacity: 0;
}
main.seigneurie .game2 .image:hover {
  cursor: pointer;
}
main.seigneurie .game2 svg {
  width: 100px;
}
main.seigneurie .game2 h2 {
  font-size: 3em;
}
main.seigneurie .game3 .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main.seigneurie .game3 .question {
  height: 50vh;
}
main.seigneurie .game3 .question h2 {
  font-weight: bold;
}
main.seigneurie .game3 a {
  width: 200px;
  display: inline-block;
  padding: 20px;
  font-size: 2em;
  border: 3px solid #fff;
  margin-right: -7px;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}
main.seigneurie .game3 a:nth-of-type(1) {
  border-radius: 20px 0 0 20px;
  text-align: left;
}
main.seigneurie .game3 a:nth-of-type(2) {
  border-radius: 0 20px 20px 0;
  text-align: right;
}
main.seigneurie .game3 a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
  border-color: #fff;
}
main.voyageurs {
  background: #f8375b;
  padding: 20px 0;
}
main.voyageurs .game1 .connectLines {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main.voyageurs .game1 .from img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-drag: none;
}
main.voyageurs .game1 .to > div {
  border-radius: 50%;
}
main.voyageurs .game1 .to > div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-drag: none;
  pointer-events: none;
}
main.voyageurs .game1 .box {
  width: 150px;
  height: 150px;
}
main.voyageurs .game1 .from,
main.voyageurs .game1 .to {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main.voyageurs .game2 .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}
main.voyageurs .game2 .options a {
  text-decoration: none;
  color: #000;
  border: 4px solid;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.5em;
  background: #fff;
  width: 90%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
main.voyageurs .game2 .options a:hover {
  width: 95%;
  background: #f2b120;
  color: #fff;
  border-color: #fff;
  text-decoration: none;
}
main.voyageurs .game3 .objects {
  width: calc(100% - (40px * 4));
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
main.voyageurs .game3 .objects > div {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  border: 6px solid #000;
  -webkit-transition: all .2s;
  transition: all .2s;
}
main.voyageurs .game3 .objects > div:hover {
  cursor: pointer;
  border: 6px double #000;
}
main.voyageurs .game3 .objects > div .checkmark {
  position: relative;
  top: -160px;
}
main.voyageurs .game3 .objects > div .title {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main.moulins {
  background: #f2b120;
  padding: 20px 0;
}
main.moulins .game1 {
  height: 100%;
}
main.moulins .game1 .connectLines {
  height: 100%;
}
main.moulins .game1 .connectLines .from > div {
  border-color: #fff !important;
}
main.moulins .game1 .connectLines .from img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
main.moulins .game1 .connectLines .to > div {
  border-radius: 50%;
  font-size: 1.5em;
}
main.moulins .game1 .connectLines .from,
main.moulins .game1 .connectLines .to {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main.moulins .game1 .connectLines .box {
  width: auto;
  height: 20vh;
  aspect-ratio: 1;
}
main.moulins .game2 {
  height: 100%;
}
main.moulins .game2 .connectLines {
  height: 100%;
}
main.moulins .game2 .connectLines .to > div {
  border-color: #fff !important;
}
main.moulins .game2 .connectLines .to img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
main.moulins .game2 .connectLines .from > div {
  border-radius: 50%;
  font-size: 1.5em;
}
main.moulins .game2 .connectLines .from,
main.moulins .game2 .connectLines .to {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main.moulins .game2 .connectLines .box {
  width: auto;
  height: 15vh;
  aspect-ratio: 1;
}
main.moulins .game3 .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 30vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main.moulins .game3 a {
  width: 200px;
  display: inline-block;
  padding: 20px;
  font-size: 2em;
  border: 3px solid #fff;
  margin-right: -7px;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}
main.moulins .game3 a:nth-of-type(1) {
  border-radius: 20px 0 0 20px;
  text-align: left;
}
main.moulins .game3 a:nth-of-type(2) {
  border-radius: 0 20px 20px 0;
  text-align: right;
}
main.moulins .game3 a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
  border-color: #fff;
}
main.moulins .game3 .question h2 {
  font-weight: bold;
}
main.moderne {
  background: #a3c4e7;
  padding: 20px 0;
}
main.moderne .game1 .objects {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-column-gap: 5%;
  grid-row-gap: 40px;
}
main.moderne .game1 .objects > div {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  border: 6px solid #000;
}
main.moderne .game1 .objects > div:hover {
  cursor: pointer;
  border: 6px double #000;
}
main.moderne .game1 .objects > div .checkmark {
  position: relative;
  top: -160px;
}
main.moderne .game1 .objects > div .title {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main.moderne .game2 {
  height: 100%;
}
main.moderne .game2 .connectLines {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 170px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main.moderne .game2 .from > div {
  border-radius: 50%;
  border-style: double;
}
main.moderne .game2 .box {
  width: 150px;
  height: 150px;
  padding: 10px;
}
main.moderne .game2 .from,
main.moderne .game2 .to {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main.moderne .game3 .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}
main.moderne .game3 .options a {
  text-decoration: none;
  color: #000;
  border: 4px solid;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.5em;
  background: #fff;
  width: 90%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
main.moderne .game3 .options a:hover {
  width: 95%;
  background: #f2b120;
  color: #fff;
  border-color: #fff;
  text-decoration: none;
}
#test {
  position: fixed;
  width: 5px;
  height: 5px;
  background: green;
}
.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: left .3s;
  transition: left .3s;
}
.question {
  width: 100vw;
}
#fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid;
}
#fullscreen:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
#fullscreen img {
  width: 100%;
}
#message {
  -webkit-transition: .9s right;
  transition: .9s right;
  position: absolute;
  height: calc(100vh - 36px);
  width: calc(100vw - 36px);
  background: white;
  border: 18px solid black;
  z-index: 10;
}
#message > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#message > div h1 {
  font-size: 4em;
}
.login-btn {
  font-weight: bold;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 2em;
  padding: 1.5rem;
  border: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 250px;
}
.login-btn::after {
  content: var(--btnEmoji);
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.login-btn:hover {
  background: #000 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 15px #848484;
          box-shadow: 0px 6px 15px #848484;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  color: #ffffff;
}
.login-btn:hover::after {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}
.box {
  width: 100px;
  height: 100px;
  border: 4px solid #000;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #fff;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.connectLines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  position: relative;
}
.connectLines .linesContainer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: 1s left;
  transition: 1s left;
}
.from,
.to {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}
.arrow {
  border: 2px solid black;
  background: black;
  pointer-events: none;
  position: absolute;
}
.arrow.lineHide {
  visibility: hidden;
}
.arrow.correct {
  border: 2px solid #a5ea1b;
  background: #a5ea1b;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  -webkit-box-shadow: inset 0 0 0 #7ac142;
          box-shadow: inset 0 0 0 #7ac142;
}
.checkmark__check {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}
.checkmark.animate {
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
          animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark.animate .checkmark__circle {
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark.animate .checkmark__check {
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}
@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0 0 0 30px #7ac142;
            box-shadow: inset 0 0 0 30px #7ac142;
  }
}
@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0 0 0 30px #7ac142;
            box-shadow: inset 0 0 0 30px #7ac142;
  }
}
